@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* dark mode selector */
@custom-variant dark (&:where(.dark,.dark *));

/* global font */
*{
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}


/* Theme Tokens */
@theme {
  --color-primary: #5044e5;
}